scripts/__pycache__
local
build
lambda-controller
profiles
refs
*.egg
*.egg-info
codfreq/__pycache__
codfreq-js
**/*.swp
**/*.swo
**/*.c
**/*.so
**/.DS_Store
Dockerfile
.git/
.gitignore
.dockerignore
