[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# post-align = {editable = true, path = "./../post-align"}
boto3 = "*"

[packages]
cython = "*"
pysam = "*"
click = "*"
tqdm = "*"
more-itertools = "*"
awscli = "*"
urllib3 = ">=1.26.5"
Pygments = ">=2.7.4"
PyYAML = ">=5.4"
post-align = {file = "https://github.com/hivdb/post-align/archive/b5851f032bd6a5b1368b4d8c00aed39a23fcb7c8.zip"}

[requires]
python_version = "3.9"
