[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# post-align = {editable = true, path = "./../post-align"}
boto3 = "*"
cython = "*"
codfreq = {editable = true, path = "."}

[packages]
pysam = "==0.15.4"
click = "*"
tqdm = "*"
more-itertools = "*"
awscli = "*"
urllib3 = ">=1.26.5"
Pygments = ">=2.7.4"
PyYAML = ">=5.4"
# post-align = {git = "ssh://git@github.com/hivdb/post-align.git", ref = "6c9bde4fda6d0e7240c4c1171627c9446e1c5c5e"}
post-align = {file = "https://github.com/hivdb/post-align/archive/6c9bde4fda6d0e7240c4c1171627c9446e1c5c5e.zip"}

[requires]
python_version = "3.8"
