[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# post-align = {editable = true, path = "./../post-align"}
boto3 = "*"

[packages]
cython = "*"
pysam = ">=0.19.1"
click = "*"
tqdm = "*"
more-itertools = "*"
awscli = "*"
urllib3 = ">=1.26.5"
Pygments = ">=2.7.4"
PyYAML = ">=5.4"
post-align = {file = "https://github.com/hivdb/post-align/archive/59e7285942a8b42b4b0f1b91a3902f1ac8c7bea4.zip"}
typing-extensions = "*"
cutadapt = ">=4.1"

[requires]
python_version = "3.9"
