-i https://pypi.org/simple
click==8.1.3
cutadapt==4.4
cython==0.29.35
dnaio==0.10.0 ; python_version >= '3.7'
isal==1.1.0 ; platform_python_implementation == 'CPython' and (platform_machine == 'x86_64' or platform_machine == 'AMD64')
more-itertools==9.1.0
orjson==3.9.1 ; python_version >= '3.7'
pafpy==0.2.0 ; python_version >= '3.6' and python_version < '4.0'
https://github.com/hivdb/post-align/archive/cb28b83e2d9639960533f805f7dc2612ea63ddc6.zip
pygments==2.15.1
pysam==0.21.0
pyyaml==6.0.1
tqdm==4.65.0
types-setuptools==67.8.0.0
typing-extensions==4.7.1
urllib3==2.0.4
xopen==1.7.0 ; python_version >= '3.7'
