-i https://pypi.org/simple
annotated-types==0.7.0; python_version >= '3.8'
click==8.2.1; python_version >= '3.10'
cutadapt==5.1; python_version >= '3.9'
cython==3.1.2; python_version >= '3.8'
dnaio==1.2.3; python_version >= '3.9'
isal==1.7.2; platform_machine == 'x86_64' or platform_machine == 'AMD64' or platform_machine == 'aarch64'
markdown-it-py==3.0.0; python_version >= '3.8'
mdurl==0.1.2; python_version >= '3.7'
more-itertools==10.7.0; python_version >= '3.9'
orjson==3.11.1; python_version >= '3.9'
pafpy==0.2.0; python_version >= '3.6' and python_version < '4.0'
https://github.com/hivdb/post-align/archive/6bcc53044ff6c73d97d3a56b0643fe6ba8bc862f.zip
pydantic==2.11.7; python_version >= '3.9'
pydantic-core==2.33.2; python_version >= '3.9'
pygments==2.19.2; python_version >= '3.8'
pysam==0.23.3; python_version >= '3.8'
pyyaml==6.0.2; python_version >= '3.8'
rich==14.1.0; python_full_version >= '3.8.0'
shellingham==1.5.4; python_version >= '3.7'
tqdm==4.67.1; python_version >= '3.7'
typer==0.16.0; python_version >= '3.7'
types-setuptools==80.9.0.20250809; python_version >= '3.9'
typing-extensions==4.14.1; python_version >= '3.9'
typing-inspection==0.4.1; python_version >= '3.9'
urllib3==2.5.0; python_version >= '3.9'
xopen==2.0.2; python_version >= '3.8'
zlib-ng==0.5.1; platform_machine == 'x86_64' or platform_machine == 'AMD64' or platform_machine == 'aarch64'
